[user]
  name = Rogier
	email = rwessel@reelmetrics.com
	signingKey = ""
[core]
	excludesfile = ~/.gitignore_global
[gitflow "branch"]
  master = master
  develop = develop
[gitflow "prefix"]
  feature = feature/
  release = release/
  hotfix = hotfix/
  support = support/
  versiontag = release-
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
  dump = cat-file -p
[push]
	default = simple
[commit]
	gpgSign = true
[url "git@github.com:"]
  insteadOf = "https://github.com/"
[protocol]
	version = 2
[tag]
	forceSignAnnotated = true
