[user]
	name = Rogier Wessel
	email = rhwessel@xs4all.nl
	signingkey = 8A4EE28EDDE19F01
[core]
	autocrlf = input
	safecrlf = warn
	excludesfile = ~/.gitignore_global
[gitflow "branch"]
    master = master
    evelop = develop
[gitflow "prefix"]
    feature = feature/
    release = release/
    hotfix = hotfix/
    support = support/
    versiontag = release-
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
  	dump = cat-file -p
[push]
	default = simple
[commit]
	gpgsign = true
