[user]
  name = Rogier
	email = rogier@blijblijblij.com
	signingKey = C2EDC5D56C66F3C868BF2524DE14FA776A474701
[core]
	excludesfile = ~/.gitignore_global

[gitflow "branch"]
  master = master
  develop = develop

[gitflow "prefix"]
  feature = feature/
  release = release/
  hotfix = hotfix/
  support = support/
  versiontag = release-

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
  dump = cat-file -p

[push]
	default = simple

[commit]
	gpgSign = true

[url "git@github.com:"]
  insteadOf = "https://github.com/"

[protocol]
	version = 2

[tag]
	forceSignAnnotated = true

[gpg]
	program = /usr/local/bin/gpg
