[
  {
    title: "data"
    paths: [
      "/home/rogier/git/rm-etl"
      "/home/rogier/git/rm-pentaho"
    ]
  }
  {
    title: "ror"
    paths: [
      "/home/rogier/git/rm-data-admin"
      "/home/rogier/git/rm-masterdata-engine"
      "/home/rogier/git/rm-rails"
      "/home/rogier/git/rm-oidc-engine"
    ]
  }
  {
    title: "var"
    paths: [
      "/home/rogier/git/rm-docker"
      "/home/rogier/git/rm-mesos"
      "/home/rogier/git/rm-scripts"
      "/home/rogier/git/rm-secrets"
      "/home/rogier/git/rm-system"
    ]
  }
]
