[
  {
    title: "rm-rails"
    paths: [
      "/Users/rogier/git/rm-rails"
      "/Users/rogier/git/rm-oidc-engine"
    ]
  }
  {
    title: "rm-public-pages"
    paths: [
      "/Users/rogier/git/rm-api"
      "/Users/rogier/git/rm-public-pages"
    ]
  }
  {
    title: "rm-data-admin"
    paths: [
      "/Users/rogier/git/rm-data-admin"
      "/Users/rogier/git/rm-masterdata-engine"
    ]
  }
  {
    title: "js & styles"
    paths: [
      "/Users/rogier/git/rm-dashboard-assets"
      "/Users/rogier/git/rm-public-pages"
      "/Users/rogier/git/rm-oidc-engine"
      "/Users/rogier/git/rm-data-admin"
      "/Users/rogier/git/rm-masterdata-engine"
    ]
  }
  {
    title: "rm-pentaho"
    paths: [
      "/Users/rogier/git/rm-etl"
      "/Users/rogier/git/rm-pentaho"
    ]
  }
  {
    title: "var"
    paths: [
      "/Users/rogier/git/rm-docker"
      "/Users/rogier/git/rm-mesos"
      "/Users/rogier/git/rm-scripts"
      "/Users/rogier/git/rm-secrets"
      "/Users/rogier/git/rm-system"
    ]
  }
]
